.login {
    padding-top: 300px;
}

.comment.icon,
.ellipsis.horizontal.icon {
    color: #afadae;
}

.ui.fluid.category.search {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search input {
    background-color: #afadae;
}

.prompt {
    background-color: #f5f5f5;
}

#profile {
    font-weight: initial;
}


#profile_img {
    width: 55px;
    height: 55px;
}

#profile_name {
    color: black;
}