

.comment.icon,
.ellipsis.horizontal.icon {
    color: #afadae;
}

.ui.fluid.category.search {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search input {
    background-color: #afadae;
}

.prompt {
    background-color: #f5f5f5;
}