body {
    background-color: #DADADA;
}

/* 카톡 메인 */
.katalk.main {
    min-width: 392px;
    height: 700px;

    padding: 0px;
}

.bar {
    background-color: #efefef;
    height: 700px;
    width: 60px;
    padding-bottom: 420px;
}

.bar #icon_div {
    margin: 0px;
}


.bar #icon_div i {
    height: 70px;
    width: 60px;
    margin-right: 0px;
}

.main {
    background-color: white;
    height: 700px;
    width: 326px;
    padding-left: 20px;
}

/**/

#title {
    font-size: x-large;
}

.katalk.input {
    padding-left: 30px;
}

.login a{
    margin-left: 80px;
}
