/* profile */
.profile .image {
    width: 55px;
    height: 55px;
}

.profile .name {
    width: 242px;
    padding-left: 13px;
}

.profile .name {
    color: black;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}
/* profile_modals */
.ui.modal {
    background-color: #8e9ba0;
    left: 18px;
    top: 30px;
    width: 360px;
    height: 620px;
}

.ui.modal .close.icon {
    color: white;
    margin-left: 335px;
    margin-top: 10px;
}

.contents {
    height: 450px;
}

.buttons .icon.header,
.buttons .comment.icon {
    color: white;
    margin-left: 50px;
}

.modal .image {
    margin-top: 260px;
    margin-left: 60px;
}

.modal .name {
    margin-top: 15px;
    margin-left: 150px;
}

.modal .name a {
    color: white;
    font-size: large;
}

.modal .buttons {
    margin-left: 103px;
    margin-top: 45px;
}

/* chatting_ui */

/* //////////////////// */
/* profile */

.comment {
    height: 75px;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.comments .comment .image {
    border-radius: 2.25rem !important;
}

.comments .log.label {
    margin-left: 115px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comments .label.text {
    max-width: 250px;
    font-size: 12px !important;
    font-weight: 100 !important;
}

.comments .date {
    font-size: smaller;
}

.comments .comment .content {
    padding-top: 13px !important;
}

.comment .avatar {
    width: 40px !important;
    height: 40px !important;
    margin: 10px !important;
}

.ui .scrolling.content {
    min-height: 460px;
    max-height: 100px !important;
    padding: 0px;
    overflow-y: scroll;
}

/* chatting_ui */

.chatting {
    background-color: #a0c0d7;
    width: 375px;
}

.chatting.ui .header {
    background-color: #95b0c3;
    margin-bottom: 0px;
    height: 60px;
}

.chatting.ui .angle.left.icon {
    padding-top: 15px !important;
}

.chatting.ui .content {
    padding-top: 10px;
}

.chatting.ui .content.name {
    padding-top: 20px;
}

.content.name {
    padding-left: 130px !important;
}

.chatting i,
.chatting div {
    /* color: #868686;
    margin-top: 4px;
    margin-left: 317px; */
    color: white;
}

.middle {
    height: 460px;
}

.middle textarea {
    background-color: #a0c0d7;
    width: 340px;
    height: 451px;
}

.chatting .input {
    margin-top: 5px;
    margin-left: 5px;
    width: 285px;
    height: 93px;
    border: 0;
    outline: none;
}

.footer {
    background-color: white;
}

.chatting .button {
    background-color: #ffee52;
    margin-bottom: 8px;
}

.chatting .upload.icon {
    color: black;
}


.enter {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.enter a {
    color: black;
}

.comments .comment .right.avatar {
    float: right;
}