{% extends 'layout.html' %}

{% block meta %}
<meta property="og:title" content="chatting page">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatting.css') }}">
{% endblock %}

{% block body %}
<div class="ui comments">
    <h2 class="ui header" style="margin-left: 14px;">채팅</h2>
    <div class="comment">
        <a class="avatar">
            <img class="ui circular image" src="/static/images/default.png">
        </a>
        <div class="content">
            <a class="author">Matt</a>
        </div>
    </div>
    
</div>
{% endblock %}