{% extends 'layout.html' %}

{% block meta %}
<meta property="og:title" content="main page">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<a class="ui header" id="title">친구</a>
<div class="ui fluid category search">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="이름검색" style="background-color: #f5f5f5;">
        <i class="search icon"></i>
    </div>
    <div class="results"></div>
</div>

<a class="ui header" id="profile">
    {% if me.thumbnailURL %}
    <img id="profile_img" class="ui circular image call-modal" modal-id="1" src="{{ me.thumbnailURL }}">
    {% else %}
    <img id="profile_img" class="ui circular image call-modal" modal-id="1" src="{{ url_for('static', filename='images/default.png') }}">
    {% endif %}
    <a href="" id="profile_name">
        {{ me.nickName }}
    </a>
</a>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}