{% extends 'layout.html' %}
{% from 'macros.html' import profile_modals  %}

{% block meta %}
<meta property="og:title" content="main page">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui stacked segment">
            {% if me.nickName %}
            <table class="ui very basic collapsing celled table" style="width: -webkit-fill-available;">
                <tbody>
                    <tr>
                        <td id="bar">
                            <div href="" class="ui header" id="icon">
                                <i class="user icon"></i>
                            </div>
                            <div href="" class="ui header" id="icon">
                                <i class="comment icon"></i>
                            </div>
                            <div href="" class="ui header" id="icon">
                                <i class="ellipsis horizontal icon"></i>
                            </div>
                        </td>
                        <td>
                            <a class="ui header" id="title">친구</a>
                            <div class="ui fluid category search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" placeholder="이름검색" style="background-color: #f5f5f5;">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>

                            <a class="ui header" id="profile">
                                {% if me.thumbnailURL %}
                                <img id="profile_img" class="ui circular image call-modal" modal-id="1" src="{{ me.thumbnailURL }}">
                                {% else %}
                                <img id="profile_img" class="ui circular image call-modal" modal-id="1" src="{{ url_for('static', filename='images/default.png') }}">
                                {% endif %}
                                <a href="" id="profile_name">
                                    {{ me.nickName }}
                                </a>
                            </a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <div class="login">
                <a href="https://kauth.kakao.com/oauth/authorize?client_id=1714c2d9871d0b439f21d27c38051dc4&redirect_uri=http://localhost:8080/oauth&response_type=code">
                    <img src="{{ url_for('static', filename='images/logo/kakao_account_login_btn_medium_narrow.png') }}" alt="카카오톡 웹">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{{ profile_modals(me) }}

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}