{% from 'macros.html' import profile_modals, profile_image_modal, chatting_modal  %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>카카오톡 웹</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/semantic/dist/semantic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div id="body">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <div class="ui stacked segment">
                        {% if me.nickName %}
                        <table class="ui very basic collapsing celled table" style="width: -webkit-fill-available;">
                            <tbody>
                                <tr>
                                    <td id="bar">
                                        <div class="ui header link" id="icon">
                                            <i class="user icon" menu=""></i>
                                        </div>
                                        <div class="ui header link" id="icon">
                                            <i class="comment icon" menu="chatting/me"></i>
                                        </div>
                                        <div class="ui header link" id="icon">
                                            <i class="ellipsis horizontal icon" menu="setting"></i>
                                        </div>
                                    </td>
                                    <td style="padding-bottom: 476px;
                                    padding-left: 25px;">
                                        {% block body %}
                                        {% endblock %}

                                        {{ profile_modals(me) }}
                                        {{ profile_image_modal(me) }}
                                        {{ chatting_modal(me) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% else %}
                        <div class="login">
                            <a href="https://kauth.kakao.com/oauth/authorize?client_id={{CLIENT_ID}}&redirect_uri={{REDIRECT_URL}}/oauth&response_type=code">
                                <img src="{{ url_for('static', filename='images/logo/kakao_account_login_btn_medium_narrow.png') }}" alt="카카오톡 웹">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            피시방에서 카톡하고 싶을 때<br>
            우분투에서 카톡하고 싶을 때<br>
            남의폰에서 카톡하고 싶을 때<br>
            사지방에서 카톡하고 싶을 때<br>
            인증안하고 카톡하고 싶을 때<br><br><br>


            0) 관리자가 사용자 염탐 안함 <br><br><br>

            1) 친구 목록 <br>
                카카오톡에게 허가를 받아야함 <br><br><br>

            2) 개인 로그인 <br>
                서버 주인도 풀 수 없는 로그인 (ssh 같이 비대칭 암호화 파일 쓸 예정 (.pem)) <br><br><br>
                    
            3) 채팅 구현 <br>
                (치명적) 카카오톡이 제공하는 API : 메세지를 보내는 기능 / 메세지를 받는 것을 못함 <br>
                (해결방안) 채팅 서버 초대 링크 + 원하는 말을 보내 상대에게 보내서 그 채팅 서버에서 채팅 <br>
                채팅이 끝나면(웹 사용자가 끊을 때) -> (서버가)채팅 서버에서 나눈 text들 카톡으로 전송 / 웹 사용자는 기록 남아있음 <br><br><br>
        </div>
        <script src="{{ url_for('static', filename='lib/requirejs/require.js') }}"></script>
        <script src="{{ url_for('static', filename='script/layout.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
