{% macro profile_modals(me) %}
<div class="ui mini modal" id="modal-1">
    <div class="contents">
        <i class="close icon"></i>
        <div style="margin-top: 380px; margin-left: 100px;">
            <div style="margin-bottom: 15px;">
                {% if me.thumbnailURL %}
                <img id="profile_img2" class="ui circular image call-modal" modal-id="1-1" src="{{ me.thumbnailURL }}">
                {% else %}
                <img id="profile_img2" class="ui circular image" src="{{ url_for('static', filename='images/default.png') }}">
                {% endif %}
            </div>
            <div style="margin-left: 20px;">
                <a id="profile_name2">
                    {{ me.nickName }}
                </a>
            </div>    
        </div>
    </div>
    <div class="ui fitted divider"></div>
    <div class="buttons">
        <h5 class="ui icon header">
            <i class="comment icon"></i>
            나와의 채팅
        </h5>
        <h5 class="ui icon header">
            <i class="pencil alternate icon"></i>
            프로필 관리
        </h5>
    </div>
</div>
{% endmacro %}


{% macro profile_image_modal(me) %}
<div class="ui modal image" id="modal-1-1">
    <i class="close icon"></i>
    <img class="ui centered big image" src="{{ me.profileImageURL }}">
</div>
{% endmacro %}