{% macro profile(me) %}
<table class="profile">
    <tbody>
        <td class="image">
            {% if me.thumbnailURL %}
            <img class="ui circular image call-modal" modal-id="1" src="{{ me.thumbnailURL }}">
            {% else %}
            <img class="ui circular image call-modal" modal-id="1" src="{{ url_for('static', filename='images/default.png') }}">
            {% endif %}
        </td>
        <td class="name">
            <a>{{ me.nickName }}</a>
        </td>
    </tbody>
</table>
{% endmacro %}


{% macro profile_modals(me) %}
<div class="ui modal" id="modal-1">
    <div class="contents">
        <i class="close icon"></i>
        <div class="image">
            {% if me.thumbnailURL %}
            <img class="ui circular image call-modal" modal-id="1-1" src="{{ me.thumbnailURL }}">
            {% else %}
            <img class="ui circular image" src="{{ url_for('static', filename='images/default.png') }}">
            {% endif %}
        </div>
        <div class="name">
            <a>{{ me.nickName }}</a>
        </div>
    </div>
    <div class="ui fitted divider"></div>
    <div class="buttons">
        <h5 class="ui icon header">
            <i class="comment icon"></i>
            나와의 채팅
        </h5>
    </div>
</div>
{% endmacro %}


{% macro profile_image_modal(me) %}
<div class="ui modal image" id="modal-1-1">
    <i class="close icon"></i>
    <img class="ui centered big image" src="{{ me.profileImageURL }}">
</div>
{% endmacro %}


{% macro chatting_ui(me) %}
<script type="text/javascript" charset="utf-8">
    
</script>

<div class="chatting ui">
    <h3 class="ui header">
        <i class="angle left icon" onclick="leave_room();"></i>
        <div class="content name">
            이정윤
        </div>
    </h3>
    <div class="middle">
        <div class="scrolling content" style="width: 341px;">
            <div class="ui large comments">
                <div class="ui log label">2020년 2월 11일 화요일</div>

                <!-- <div class="comment right aligned">
                    <a class="avatar" style="float: right !important;">
                        <img class="ui circular image" src="/static/images/default.png">
                    </a>
                    <div class="content" style="margin-left: 10px;">
                        <div style="margin-left: 150px;">
                            <div class="metadata">
                                <span class="date">오후 3:51</span>
                            </div>
                            <a class="author">아구몬</a>
                        </div>
                        <div class="ui right pointing label text" style="left: 200px;">
                            안녕하세요.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer">
        <table>
            <thead>
                <th><textarea class="input" id="text"></textarea></th>
                <th><button type="submit" class="ui submit button">전송</button></t>
            </thead>
        </table>
    </div>
</div>
{% endmacro %}