<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>카톡 웹 - {{ room }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/semantic/dist/semantic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/macros.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" 
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script src="{{ url_for('static', filename='script/chatting.js') }}"></script>
    </head>
    <body>
        <h1>{{ room }}</h1>
        <div class="chatting ui">
            <h3 class="ui header">
                <i class="angle left icon" onclick="leave_room();"></i>
                <div id="nickName" class="content name">
                    {{ me.profile_nickname }}
                </div>
            </h3>
            <div class="middle">
                <div class="scrolling content" style="width: 340px;">
                    <div class="ui large comments">
                        <div class="ui log label">{{ date }}</div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <table>
                    <thead>
                        <th><textarea class="input" id="text"></textarea></th>
                        <th><button id="submit" class="ui submit button">전송</button></t>
                    </thead>
                </table>
            </div>
        </div>
    </body>
</html>
