<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>카톡 웹 - {{ room }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:site_name" content="야매 카카오톡 웹">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/semantic/dist/semantic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/macros.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='script/chatting.js') }}"></script>
    </head>
    <body>
        <div class="chatting ui">
            <h3 class="ui header">
                <i class="angle left icon" onclick="leave_room();"></i>
                <div class="content name">
                    {% if users|length == 1 %}
                        {{ me.profile_nickname }}
                    {% else %}
                        {% for user in users %}
                            {% if user.nickName != me.profile_nickname%}
                                {{ user.nickName }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </h3>
            <div class="middle">
                <div class="scrolling content" style="width: 340px;">
                    <div class="ui large comments">
                        <div class="ui log label">{{ date }}</div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <table>
                    <thead>
                        <th><textarea class="input" id="text"></textarea></th>
                        <th><button id="submit" class="ui submit button">전송</button></t>
                    </thead>
                </table>
            </div>
        </div>
        <div id="nickName" style="visibility: hidden;">
            {{ me.profile_nickname }}
        </div>
    </body>
</html>
